[package]
name = "portForwarder"
version = "0.1.0"
authors = ["analyman <beam.analyman@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
mio = { version="0.7", features=["os-poll", "net"] }
regex = "1"
# tokio= { version="0.3", features=["full"] }

